name: Secret scanning

on:
  push:
    branches: [ main ]
  pull_request:
    paths-ignore: [ 'README.md' ]
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  gitleaks:
    name: Gitleaks scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run gitleaks
        uses: zricethezav/gitleaks-action@v2
        with:
          args: --redact --fail --report-format=json --report-path=gitleaks-report.json
      - name: Upload report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks-report.json
